<h1><%= @blog.title %>のカテゴリ一覧</h1>
<% @blog.categories.each do |category| %>
  <div class='index_articles'>
    <%= category.name %>
    <%= link_to('編集', edit_blog_category_path(@blog.name, category.id)) %>
    <%= link_to('削除', blog_category_path(@blog.name, category.id), method: :delete) %>
  </div>
<%end%>
